.letter-input {
    height: 20px;
    font-family: inherit;
    width: 20px;
    background-color: inherit;
    color: white;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    caret-color: transparent;
    text-align: center;
}

.letter-input:focus {
    outline: none;
}

.display-word {
    display: inline-block;
    width: 30px;
    font-size: 25px;
}

.incorrect-letter-box {
    display: inline-block;
    width: 80px;
    text-align: left;
    padding-left: 5px;
    padding-top: 10px;
}

.incorrect-letter {
    display: inline-block;
    width: 20px;
    color: #e75a5a;
}

.stickman-logo {
    height: 50vmin;
    pointer-events: none;
}

.logo-sm {
    height: 12vmin;
}

.flex-container {
    display: inline-flex;
    justify-content: center;
    padding: none;
}

.feedback-block {
    margin-bottom: 15px;
}

.success-msg {
    color: #166b02;
}

.failure-msg {
    color: #e75a5a
}

.sub-msg {
    font-size: 18px;
}

.word-input {
    font-size: inherit;
    background-color: transparent;
    border: none;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    padding: 5px;
    font-family: inherit;
    width: 300px;
    display: inline-block;
}

.word-input:focus {
    outline: none;
}

.word-input-label {
    padding: 2px;
    text-align: left;
    display: inline-block;
}

.word-input-box {
    width: 300px;
}

.word-input-button {
    width: 140px;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    margin: 5px;
    margin-top: 10px;
}

.waiting-text {
    font-size: 28px;
}

.game-board {
    display: inline-flex;
    float: left;
    width: 250px;
}

.test {

}

.flex-display {
    display: inline-flex;
    width: 100%;
}