.header {
    height: 30px;
    padding: 10px 0;
    display: flex;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    background-color: #282c34;
}

.header > div {
    padding: 0 20px;
    color: white;
    font-size: 21px;
}

.header-left {
    width: fit-content;
}

.inline-div {
    display: inline-block;
}

.inline-div:first-child {
    margin-right: 40px;
}

.leave-button {
    font-style: italic;
}

.leave-button:hover {
    text-decoration: underline;
    cursor: pointer;
}